body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.contour{        
    width:500px;
    /*pour centrer le bloc*/
    margin-left:auto;
    margin-right:auto;
    /**********************/
    border: 2px solid black;
}

.interne {
    padding: 30px
}
.bouton {
    text-align: center;
}
.bnForm:hover {
    background-color:thistle
}

#slide-show DIV.slide-show-card {
    position: center;
    top: 0;
    z-index: 8;
    height: 800px;
    background-color: #eeeeee;
    border-color: #538345;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    color: #333333;
    margin-left: 0px;
    margin-right: 0px;
    height: 650px;
    width: 800px;
}
