

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2  class="text-center">@ViewBag.Title</h2>
    <div>
        @Html.Action("_PhotoGallery", "Photo")
    </div>
</body>
</html>
